<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Employee List</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>CPF</th>
                <th>Breakfast Options</th>
                <th>Breakfast Date</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="employee : ${employees}">
                <tr>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.cpf}"></td>
                    <td th:text="${employee.breakfastOptions}"></td>
                    <td th:text="${employee.breakfastDate}"></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>